<nav class="navbar navbar-expand-md bg-white px-5 shadow-sm fixed-top">
    <div class="container-fluid">
  
      <div class="col-sm-3">
        <a class="navbar-brand">
          <img src="assets/img/havenDesktopLogo.png" alt="Haven charity logo" style="width:90px;">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="col-sm-4 collapse navbar-collapse" id="mynavbar">
        <form class="d-flex">
          <div class="input-group border border-secondary rounded-pill">
            <div class="dropdown my-auto">
              <button type="button" class="catBtn btn py-2 px-3 rounded-end rounded-pill dropdown-toggle" data-bs-toggle="dropdown">
                Categories
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Link 1</a></li>
                <li><a class="dropdown-item" href="#">Link 2</a></li>
                <li><a class="dropdown-item" href="#">Link 3</a></li>
              </ul>
            </div>
            <input type="text" class="form-control border border-secondary border-0 border-start" placeholder="...search for a charity">
            <span class="searchBtn border border-0 rounded-circle p-1" style="width:45px; height:45px; margin-left:2px;"><img src="../assets/img/icons/magnifying_lens.png" class="img-fluid"></span>
          </div>
        </form>
      </div>
  
      <div class="col-sm-3 collapse navbar-collapse justify-content-between" id="mynavbar">
        <ul class="btnGroup navbar-nav me-3 justify-content-between">
          <li class="nav-item">
            <a class="nav-link border rounded-pill text-black px-3 me-3" href="#">CREATE</a>
          </li>
          <div class="vl m-auto"></div>
          <li class="nav-item">
            <a class="nav-link border rounded-pill text-black px-3 ms-3" href="#">DONATE</a>
          </li>
        </ul>
        <div class="btnGroup justify-content-between">
          <button class="btn btn-outline rounded-circle p-2 me-3"><img src="assets/img/icons/night_mode.png" class="p-1" style="width:25px; height:25px; margin:0px 2px;"></button>
          <button type="button" class="btn btn-outline rounded-pill py-2 px-3" href="#">
            <img src="assets/img/icons/menu_bars.svg" style="width:20px" class="me-2">
            <img src="assets/img/icons/user_icon.png" style="width:20px">
          </button>
        </div>
      </div>
    </div>
  </nav>